<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="title"><%= f.label :name %></label>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <label for="title"><%= f.label :email %></label>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-default"><%= f.submit %></button>
  </div>
<% end %>
