<p id="notice"><%= notice %></p>
<table class="table table-bordered">
  <tbody>
      <tr>
        <th>Name</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %> |
<%= link_to 'Back', users_path, class: 'btn btn-primary' %>
