<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="isbn"><%= f.label :isbn %></label>
    <%= f.text_field :isbn %>
  </div>

  <div class="form-group">
    <label for="title"><%= f.label :title %></label>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <label for="year_published"><%= f.label :year_published %></label>
    <%= f.number_field :year_published %>
  </div>

  <div class="form-group">
    <label for="author"><%= f.label :author %></label>
    <%= f.select :author, options_from_collection_for_select(User.all, :id, :name, @book.author.try(:id)), include_blank: true %>
  </div>

  <div class="form-group">
    <label for="categories"><%= f.label :categories %></label>
    <%= f.select :category_ids, options_from_collection_for_select(Category.order(:name), :id, :name, @book.categories.map(&:id)), {include_blank: true}, {multiple: true, size: 5} %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-default"><%= f.submit %></button>
  </div>
<% end %>
