<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <tbody>
      <tr>
        <th>Isbn</th>
        <td><%= @book.isbn %></td>
      </tr>
      <tr>
        <th>Title</th>
        <td><%= @book.title %></td>
      </tr>
      <tr>
        <th>Year published</th>
        <td><%= @book.year_published %></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><%= @book.author %></td>
      </tr>
      <tr>
        <th>Categories</th>
        <td><%= @book.categories.map(&:name).to_sentence %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %> |
<%= link_to 'Back', books_path, class: 'btn btn-primary' %>
