<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <tbody>
      <tr>
        <th>Name</th>
        <td><%= @category.name %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary' %> |
<%= link_to 'Back', categories_path, class: 'btn btn-primary' %>
